.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main-content {
  display: flex;
  flex: 1;
}

aside {
  width: 20%;
  background-color: #f0f0f0; /* Example color */
}

main {
  flex-grow: 1;
  padding: 20px;
}

.Results-section {
  padding: 20px;
  background-color: #ddd; /* Example color */
}
